/* цвет заголоаков текста color: #212121; */
/* основной цвет текста color: #757575; */
/* белый цвет color: #FFFFFF;*/
/* акцент синий цвет color: #2196F3; */
/* акцент сolor: rgba(255, 255, 255, 0.6); */
/* вторичный цвет фона background: #F5F4FA; */

:root {
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --first-background-color: #2f303a;
  --second-background-color: #e5e5e5;
  --third-background-color: #f5f4fa;
  --logo-color: #000000;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  /* background-color: #ffffff;
  color: var(--main-background-color); */

  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--logo-color);
}

/* Site nav */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--first-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-title {
  color: var(--secondary-title-color);
}

/*  Особенности */
.features {
  background-color: var(--second-background-color);
}

/* Чем мы занимаемся */
.work {
  background-color: var(--secondary-text-color);
}

/* Наша команда */
.team {
  background-color: var(--third-background-color);
}
.section-title {
  color: var(--primary-title-color--primary-text-color);
}

.section-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
/* Features */
.about-list .section-subtitle {
  color: var(--primary-title-color);
}
