/* цвет заголоаков текста color: #212121; */
/* основной цвет текста color: #757575; */
/* белый цвет color: #FFFFFF;*/
/* синий цвет color: #2196F3; */
/* акцент сolor: rgba(255, 255, 255, 0.6); */
/* вторичный цвет фона background: #F5F4FA; */

body {
  background-color: #ffffff;
  color: color: #757575;
}

.list {
  list-style: none;
}

.logo-web {
  color: #2196F3;
}

.logo-studio {
  color: #000000;
}

/* Site nav */
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}

/* Hero */
.hero-title {
  color: #FFFFFF;
}

/* Section */
.section-title {
  color: #212121;
}

/* Features */
.features-list .title {
  color: #bb1f1f;
}